/* RULES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "", sans-serif;
}

/* UTILITY */

/* HEADER */

/* MAIN */
main {
  padding: 25px;
}
ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.navbar {
  width: 650px;
  display: flex;
  background-color: #fbf7e3;
  border-radius: 50px;
  padding: 10px;
}
.navbar ul {
  display: flex;
  width: 100%;
  /* column-gap: 1rem; */
  align-items: center;
  justify-content: space-around;
}

.navbar li {
  border: none;
  background-color: #f3df85;
  border-radius: 35px;
  cursor: pointer;
  color: #612406;
  font-weight: 500;
  padding: 15px;
}
.navbar li:nth-child(3) {
  font-weight: 800;
}
.navbar li:hover {
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
  font-weight: 800;
}
.logo {
  display: flex;
  align-items: center;
  margin-block: 15px;
  justify-content: space-between;
}

.logo img {
  width: 50px;
}
/* FOOTER */
